## SQL

In [1]:
from pyspark import SparkContext, SQLContext
spark = SQLContext(SparkContext())
#flight-data

In [3]:
spark.read.json('../data/flight-data/json/2015-summary.json').createOrReplaceTempView("flight")

In [5]:
spark.sql("select * from flight").show(3)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
+-----------------+-------------------+-----+
only showing top 3 rows

In [11]:
spark.sql("select DEST_COUNTRY_NAME, sum(count) from flight group by DEST_COUNTRY_NAME")\
.where("DEST_COUNTRY_NAME like 'S%'")\
.where("`sum(count)` > 10")\
.show()

+--------------------+----------+
|   DEST_COUNTRY_NAME|sum(count)|
+--------------------+----------+
|             Senegal|        40|
|              Sweden|       118|
|               Spain|       420|
|    Saint Barthelemy|        39|
|Saint Kitts and N...|       139|
|         South Korea|      1048|
|        Sint Maarten|       325|
|        Saudi Arabia|        83|
|         Switzerland|       294|
|         Saint Lucia|       123|
|               Samoa|        25|
|        South Africa|        36|
+--------------------+----------+

In [12]:
spark.sql("select DEST_COUNTRY_NAME, sum(count) from flight group by DEST_COUNTRY_NAME")\
.where("DEST_COUNTRY_NAME like 'S%'")\
.where("`sum(count)` > 10").explain()

== Physical Plan ==
*(2) Filter (isnotnull(sum(count)#115L) && (sum(count)#115L > 10))
+- *(2) HashAggregate(keys=[DEST_COUNTRY_NAME#18], functions=[sum(count#20L)])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#18, 200)
      +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#18], functions=[partial_sum(count#20L)])
         +- *(1) Project [DEST_COUNTRY_NAME#18, count#20L]
            +- *(1) Filter (isnotnull(DEST_COUNTRY_NAME#18) && StartsWith(DEST_COUNTRY_NAME#18, S))
               +- *(1) FileScan json [DEST_COUNTRY_NAME#18,count#20L] Batched: false, Format: JSON, Location: InMemoryFileIndex[file:/Users/nilvarshney/github_nilesh/Spark/learn/data/flight-data/json/2015-su..., PartitionFilters: [], PushedFilters: [IsNotNull(DEST_COUNTRY_NAME), StringStartsWith(DEST_COUNTRY_NAME,S)], ReadSchema: struct<DEST_COUNTRY_NAME:string,count:bigint>

In [16]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        |   flight|       true|
+--------+---------+-----------+